body > div:first-child {
	overflow-x: hidden;
}

.textColorLightTheme {
	color: #fff;
}
.textColorDarkTheme{
	color: #0a0c0d;
}
.oppositeTextColorLightTheme{
	color: #0a0c0d;
}
.oppositeTextColorDarkTheme{
	color: #fff;
}
.shape-z-index{
	z-index: 0!important;
}

.switchThemeLight , .switchThemeLight:focus{
	background-color: #fff;
	transition: all 0.3s ease-in-out;
	color: #0a0c0d;
	border: none;
}
.switchThemeDark , .switchThemeDark:focus{
	background-color: #0a0c0d;
	transition: all 0.3s ease-in-out;
	color: #fff;
	border: none;
}
.GreetingLottie{
	background: rgba(246, 246, 246, 0.9);
	border-radius:40px;
}
